/* just list the chapters as a TOC rather than inline,
   which would overflow and cause trouble */
.chapters-wrapper .chapters-list {
  display: initial !important;
  mask-image: none !important;
  mask-size: unset !important;
  margin: 0 1rem !important;
}
.chapters-wrapper .chapters-list li {
  margin: initial !important;
}
.chapters-wrapper {
  padding: 0 !important;
  mask-image: none !important;
}
.chapters-wrapper vrtnu-button {
  background: none !important;
  display: initial !important;
  --button-justify-content: left !important;
  --button-color-background: transparent !important;
  transition: none !important;
}
.chapters-wrapper vrtnu-button span {
  font-size: 1.2rem !important;
  line-height: 1.4 !important;
}
.chapters-wrapper vrtnu-button span::after {
  top: 1rem !important;
}
.chapters-wrapper vrtnu-button span::before {
  width: 3rem !important;
}
.chapters-wrapper .chapters-list:hover {
  mask-position: unset !important;
}

/* change the layout to always give the video player a sensible width */
#navigation {
  height: min-content; /* about 42px */
}
/* .video-page__video { */
/*   margin-top:0 */
/* } */
@media(min-width:1024px) {
  .video-page aside {
    position: initial !important;
    z-index:  initial !important;
    left:     initial !important;
    flex: 1 1 0 !important;
    display: flex !important;
    flex-direction: row !important;
  }
}
